---
import styles from "./Process.module.css";
---

<div class={styles.process_container}>
    <div class={styles.process_header}>
        <div class={styles.title}>
            <h3>
                PROCESO
            </h3>
        </div>
    </div>
</div>