---
import styles from "./Contact.module.css";
import ContactForm from "./Form/ContactForm"
---

<div class={styles.contact_container}>
    <div class={styles.text_container}>
        <h4>
            ¿Listo para darle vida a tus ideas?
        </h4>
        <p>
            Nuestro equipo está aquí para ayudarte a crear el mueble que siempre soñaste. Ya sea que tengas un diseño en mente o necesites asesoría, estamos a solo un mensaje de distancia.
        </p>
    </div>
    <div class={styles.form_container}>
        <ContactForm />
    </div>
</div>